@import '../../styles/main';

.timer {
  margin: 250px 0 0;
  color: $primary;
  font-weight: 300;
  font-size: 180px;
  font-family: $timer-font;
  transition: color $global-transition;

  .tenths,
  .minutes,
  .hundredths {
    font-size: 140px;
  }

  &.loading {
    color: $tertiary;
  }

  &.ready {
    color: $secondary;
  }

  &.running {
    margin: 180px 0 0;
    color: rgba($primary, .7);
    font-size: 300px;

    .seconds {
      color: $primary;
    }

    .hundredths {
      display: none;
    }
  }
}
