// Settings
$global-radius: 3px !default;
$global-transition: 150ms ease-in-out !default;
$global-font-size: 14px !default;
$primary-shadow: 0 4px 3px rgba(69, 76, 80, .25) !default;

// Fonts
$sans-font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$timer-font: 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Main colours
$primary-white: rgb(255, 255, 255);
$primary-grey: rgb(123, 123, 123);
$primary-black: rgb(30, 30, 30);
$primary: rgb(0, 166, 166);
$secondary: rgb(103, 148, 64);
$tertiary: rgb(205, 83, 52);
$quarterly: rgb(239, 160, 11);

$cube-colors: (
  'white': #fff,
  'yellow': #ffd500,
  'red': #c41e3a,
  'orange': #ff5800,
  'blue': #0051ba,
  'green': #009e60,
);

$breakpoints: (
  'xs':  340px,
  'sm':  576px,
  'md':  768px,
  'lg':  992px,
  'xl':  1200px,
);
