@import '../../styles/main';

.cube-app {
  .master-wrapper {
    position: relative;
    max-width: width(xl);
    margin: 20px auto;
    color: $primary-black;
    font-family: $sans-font;
    text-align: center;
  }
}
